.custom-md blockquote.admonition .bdm-title {
  display: flex;
  align-items: center;
  margin-bottom: -0.9rem;
  font-weight: bold;
}
.custom-md blockquote.admonition .bdm-title:before {
  content: ' ';
  display: inline-block;
  font-size: inherit;
  overflow: visible;
  margin-right: 0.6rem;
  height: 1em;
  width: 1em;
  vertical-align: -0.126em;
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
  transform: translateY(-0.0625rem);
}
.custom-md blockquote.admonition.bdm-tip .bdm-title {
  color: var(--admonitions-color-tip);
}
.custom-md blockquote.admonition.bdm-tip .bdm-title:before {
  background: var(--admonitions-color-tip);
  mask-image: var(--icon-lucide-lightbulb);
}
.custom-md blockquote.admonition.bdm-tip:before {
  background: var(--admonitions-color-tip);
}
.custom-md blockquote.admonition.bdm-note .bdm-title {
  color: var(--admonitions-color-note);
}
.custom-md blockquote.admonition.bdm-note .bdm-title:before {
  background: var(--admonitions-color-note);
  mask-image: var(--icon-lucide-info);
}
.custom-md blockquote.admonition.bdm-note:before {
  background: var(--admonitions-color-note);
}
.custom-md blockquote.admonition.bdm-important .bdm-title {
  color: var(--admonitions-color-important);
}
.custom-md blockquote.admonition.bdm-important .bdm-title:before {
  background: var(--admonitions-color-important);
  mask-image: var(--icon-lucide-message-square-warning);
}
.custom-md blockquote.admonition.bdm-important:before {
  background: var(--admonitions-color-important);
}
.custom-md blockquote.admonition.bdm-warning .bdm-title {
  color: var(--admonitions-color-warning);
}
.custom-md blockquote.admonition.bdm-warning .bdm-title:before {
  background: var(--admonitions-color-warning);
  mask-image: var(--icon-lucide-triangle-alert);
}
.custom-md blockquote.admonition.bdm-warning:before {
  background: var(--admonitions-color-warning);
}
.custom-md blockquote.admonition.bdm-caution .bdm-title {
  color: var(--admonitions-color-caution);
}
.custom-md blockquote.admonition.bdm-caution .bdm-title:before {
  background: var(--admonitions-color-caution);
  mask-image: var(--icon-lucide-octagon-alert);
}
.custom-md blockquote.admonition.bdm-caution:before {
  background: var(--admonitions-color-caution);
}
.custom-md img {
  border-radius: 0.75rem;
}
.custom-md hr {
  border-color: var(--line-divider);
  border-style: dashed;
}
.custom-md iframe {
  border-radius: 0.75rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
a.card-github {
  display: block;
  background: var(--license-block-bg);
  position: relative;
  margin: 0.5rem 0;
  padding: 1.1rem 1.5rem 1.1rem 1.5rem;
  color: var(--tw-prose-body);
  border-radius: var(--radius-large);
  text-decoration-thickness: 0px;
  text-decoration-line: none;
}
a.card-github:hover {
  background-color: var(--btn-regular-bg-hover);
}
a.card-github:hover .gc-titlebar {
  color: var(--btn-content);
}
a.card-github:hover .gc-stars,
a.card-github:hover .gc-forks,
a.card-github:hover .gc-license,
a.card-github:hover .gc-description {
  color: var(--tw-prose-headings);
}
a.card-github:hover .gc-stars:before,
a.card-github:hover .gc-forks:before,
a.card-github:hover .gc-license:before,
a.card-github:hover .gc-description:before {
  background-color: var(--tw-prose-headings);
}
a.card-github:active {
  scale: 0.98;
  background-color: var(--btn-regular-bg-active);
}
a.card-github .gc-titlebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  color: var(--tw-prose-headings);
  font-size: 1.25rem;
  font-weight: 500;
}
a.card-github .gc-titlebar .gc-titlebar-left {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
}
a.card-github .gc-titlebar .gc-repo {
  font-weight: bold;
}
a.card-github .gc-titlebar .gc-owner {
  font-weight: 300;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  align-items: center;
}
a.card-github .gc-titlebar .gc-avatar {
  display: block;
  overflow: hidden;
  width: 1.5rem;
  height: 1.5rem;
  margin-top: -0.1rem;
  background-color: var(--primary);
  background-size: cover;
  border-radius: 50%;
}
a.card-github .gc-description {
  margin-bottom: 0.7rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: var(--tw-prose-body);
}
a.card-github .gc-infobar {
  display: flex;
  flex-flow: row nowrap;
  gap: 1.5rem;
  color: var(--tw-prose-body);
  width: fit-content;
}
a.card-github .gc-language {
  display: none;
}
a.card-github .gc-stars,
a.card-github .gc-forks,
a.card-github .gc-license,
a.card-github .github-logo {
  font-weight: 500;
  font-size: 0.875rem;
  opacity: 0.9;
}
a.card-github .gc-stars:before,
a.card-github .gc-forks:before,
a.card-github .gc-license:before,
a.card-github .github-logo:before {
  content: ' ';
  display: inline-block;
  height: 1.3em;
  width: 1.3em;
  margin-right: 0.4rem;
  vertical-align: -0.24em;
  font-size: inherit;
  background-color: var(--tw-prose-body);
  overflow: visible;
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
  transition-property: background-color, background;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}
a.card-github .gc-stars:before {
  mask-image: var(--icon-lucide-star);
}
a.card-github .gc-license:before {
  margin-right: 0.5rem;
  mask-image: var(--icon-lucide-scale);
}
a.card-github .gc-forks:before {
  mask-image: var(--icon-lucide-git-fork);
}
a.card-github .github-logo {
  font-size: 1.25rem;
}
a.card-github .github-logo:before {
  background-color: var(--tw-prose-headings);
  margin-right: 0;
  mask-image: var(--icon-simple-icons-github);
}
a.card-github.fetch-waiting {
  pointer-events: none;
  opacity: 0.7;
  transition: opacity 0.15s ease-in-out;
}
a.card-github.fetch-waiting .gc-description,
a.card-github.fetch-waiting .gc-infobar,
a.card-github.fetch-waiting .gc-avatar {
  background-color: var(--tw-prose-body);
  color: transparent;
  opacity: 0.5;
  animation: pulsate 2s infinite linear;
  user-select: none;
}
a.card-github.fetch-waiting .gc-description:before,
a.card-github.fetch-waiting .gc-infobar:before,
a.card-github.fetch-waiting .gc-avatar:before {
  background-color: transparent;
}
a.card-github.fetch-waiting .gc-repo {
  margin-left: -0.1rem;
}
a.card-github.fetch-waiting .gc-description,
a.card-github.fetch-waiting .gc-infobar {
  border-radius: 0.5rem;
}
a.card-github.fetch-error {
  pointer-events: all;
  opacity: 1;
}
.card-github,
.gc-description,
.gc-titlebar,
.gc-stars,
.gc-forks,
.gc-license,
.gc-avatar,
.github-logo {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}
@-moz-keyframes pulsate {
  0% {
    opacity: 0.15;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.15;
  }
}
@-webkit-keyframes pulsate {
  0% {
    opacity: 0.15;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.15;
  }
}
@-o-keyframes pulsate {
  0% {
    opacity: 0.15;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.15;
  }
}
@keyframes pulsate {
  0% {
    opacity: 0.15;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.15;
  }
}
